body {
  font-family: sans-serif;
}

#container {
  width: 70%;
  height: 70%;
  background: lightblue;
}

#element {
  background: black;
  color: white;
  height: 100px;
  width: 100px;
  padding: 10px;
}

.dragNdrop::before {
  content: 'Drag Me';
  color: white;
  display: block;
}

.dragNdrop--start::before {
  content: 'Start';
  display: block;
}

.dragNdrop--drag::before {
  content: 'Drag';
  display: block;
}

.dragNdrop--stop::before {
  content: 'Stop';
  display: block;
}